.logo{
    
    width: 250px;
    height: 86.21px;
    padding-left: 72px;
    padding-top: 40px;
}

.content {
    margin-left: 72px;
    width: 80vw;
    height: 816px;
    background-color: white;
    border: 1px solid #E3E6EF
}