@import '~roboto-fontface/css/roboto/roboto-fontface.css';

.main {
  font-family: Roboto, monospace;
  background: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-table {
  width: 90%;
}
