*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  background-color: rgb(243, 238, 238);
}

/* You can add global styles to this file, and also import other style files */
@media screen and (min-width: 577px) {
  body {
    background-color: blue;
  }
}
