.wrapper {
  background: white;
}

.table{
  overflow-y:scroll;
  height:80vh;
  display:block;
}

.row {
  display: flex;
  align-items: center;
  td {
    flex-basis: 100%;
  }
}

.avatar {
  width: 60px;
  border-radius: 100%;
}

.tableHeader {
  padding-left: 200px;
  padding-right: 42px;
  display: flex;
  th {
    //background-color:orange;
    flex-basis: 100%;
    text-align: left;
  }
}

.deleteButton {
  border: transparent;
  background: white;
  img {
    width: 30px;
  }
}

#labelAndPhotoContainer {
  flex-basis: initial ;
}

.labelAndPhotoContainerDiv {
  min-width: 200px;
}
