.avatar {
  border-radius: 50%;
  height: 2rem;
  aspect-ratio: 1;
}

table {
  /* inner scrollbar */
  border-collapse: collapse;
}

thead {
  text-align: left;
  text-transform: uppercase;
  color: #555d71;
  background-color: #f1f4f8;
  height: 3em;
  border-bottom: #c8cdd9 2px solid;
}
h1 {
  margin-bottom: 2em;
}
.header {
  display: flex;
  justify-content: space-between;
}

.index {
  z-index: 10;
  border: #c8cdd9 3px solid;
  border-radius: 20%;
  /* float */
  position: relative;
}

/* paper material style */
.paper {
  max-width: 90em;
  border-radius: 0.5em;
  padding: 1em;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
}
.table {
  height: 60vh;
  position: relative;
  overflow: scroll;
}

.root {
  margin: 0;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* select 3th td */
td:nth-child(3) {
  width: 100em;
  text-overflow: ellipsis;
}

td:not(:nth-child(-n + 2)) {
  /* max word ellipsps */
  width: 50em;
  text-overflow: ellipsis;
}

td:last-child {
  text-align: right;
}
td:last-child button {
  border: none;
  background: none;
  cursor: pointer;
}

tbody tr {
  border: #c8cdd9 2px solid;
  height: 3em;
}

.title {
  font-size: 1.5em;
  font-weight: 500;
  text-align: left;
}

.item:nth-child(1) {
  border-top: #c8cdd9 2px solid;
}
.item {
  border: #c8cdd9 2px solid;
  border-top: none;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.computer {
  display: block;
}
.mobile {
  display: none;
}

/* mobile​ */
@media screen and (max-width: 576px) {
  .table {
    height: 50vh;
  }
  .mobile {
    display: block;
  }
  .computer {
    display: none;
  }
  .second-logo {
    display: none;
  }
}
