.logo {
  max-height: 8rem;
}
.sd-card {
  background-color: white;
  border-radius: 0.2rem;
  border: 1px solid rgb(218, 215, 215);
}
.sd-title {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 0.5rem;
  border: 1px solid rgb(223, 220, 220);
}

.hicker-item {
  display: grid;
  padding: 1rem 1rem;
  grid-template-columns: 1fr 5rem 2rem;
  border: 1px solid rgb(241, 241, 241);
}
.hicker-id {
  display: none;
}

.hicker-name {
  grid-column: 1;
  grid-row: 1;
  padding: 0.25rem 0;
}
.hicker-from {
  grid-column: 1;
  grid-row: 2;
  font-weight: 300;
  font-size: 0.8rem;
}
.hicker-date-of-birth {
  grid-column: 2;
  grid-row: 1;
  font-weight: 300;
  font-size: 0.8rem;
}
.hicker-actions {
  font-weight: 300;
  font-size: 0.8rem;
  margin-left: 1rem;
}
.hicker-header {
  display: none;
}
.hicker-avatar {
  display: none;
}

@media screen and (min-width: 577px) {
  .hicker-header {
    display: grid;
    grid-template-columns: 2rem 4rem 1fr 7rem 7rem 2rem;
    padding: 1rem 1rem;
    border: 1px solid rgb(241, 241, 241);
    font-weight: 500;
    font-size: 0.8rem;
    background: rgb(207, 207, 207);
  }
  .hicker-item {
    align-items: center;
    grid-template-columns: 2rem 4rem 1fr 7rem 2fr 2rem;
    padding: 0.25rem 1rem;
  }

  .hicker-id {
    display: block;
    grid-column: 1;
    grid-row: 1;
  }

  .hicker-avatar {
    grid-column: 2;
    img {
      border-radius: 50%;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .hicker-name {
    grid-column: 3;
  }
  .hicker-from {
    grid-row: 1;
    grid-column: 4;
  }
  .hicker-date-of-birth {
    grid-column: 5;
  }
  .hicker-actions {
    grid-column: 6;
  }
}
