<html>
<head>
    <title>SDWorx challenge</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/stylesheet.css">
</head>

<body>
    <img src="../static/logo.png" width="150vw" style="padding-bottom: 15px; padding-left: 5%">
    <div id="bgData" style="width: 90%; margin-left: 5%;" >
    <div id="totalAttendees" style="padding-left: 5%;padding-bottom: 15px; padding-top: 10px; font-size: 25px; font-weight: bold">
        <h1>Total attendees: </h1>
    </div>
    <div style="height:70%;overflow:auto;padding-left: 5%;">
        <table id="dataTable" border=1 frame=void rules=rows>

        </table>
    </div>
    </div>

</body>
<script src="../static/tablescript.js"></script>
</html>