:host{
  width: 96vw;
  height: 70vh;
}

.tabel__header{
  display: flex;
  background: #F1F4F8;
}
.header__name{
  margin-left: 10%;
}
.header__date{
  margin-left: 9%;
}
.header__city{
  margin-left: 8%;
}
.header__country{
  margin-left: 8%;
}
