/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/roboto');

:root {
    background-color: #F5F5F5;
    font-family: "Roboto";
    overflow: hidden;
}